* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header-container {
  background-color: rgb(162, 226, 245);
  width: 100%;
  min-height: 100vh;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  color: white;
  font-family: "Science Gothic", sans-serif;
  font-size: 3rem;
  position: absolute;
  top: 1rem;
}

.data-Containers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
}

.pokemon-box {
  padding: 15px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
  width: 100%;
}

.pokemon-box:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
}

.pokemon-box img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: 1s ease;
}

.pokemon-box:hover img {
  transform: scale(1.1);
}

.pokemon-name {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #0398c1;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.More-button {
  margin-top: 3rem;
  margin-bottom: 1rem;
  background: rgb(6, 185, 216);
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}
.More-button:hover {
  background-color: whitesmoke;
  color: rgb(6, 185, 216);
}

.startAnimation {
  position: fixed;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startAnimation {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.startAnimation.hide {
  opacity: 0;
  pointer-events: none;
}

/* FOOTER */
.footer {
  width: 100%;
  /* padding: 2rem 1rem; */
  background-color: rgb(162, 226, 245);
  text-align: center;
  margin-top: 1rem;
}

.footerlogo {
  font-size: 5rem;
  font-family: "Science Gothic", sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  letter-spacing: 5px;
  transition: 0.3s ease;
}

.footerlogo:hover {
  color: #0fc3c6;
  transform: scale(1.05);
}

.footertag {
  color: rgb(0, 98, 137);
  font-size: 0.7rem;
  font-family: "Science Gothic", sans-serif;
}

@media (max-width: 600px) {
  .data-Containers {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 350px) {
  .data-Containers {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .footerlogo {
    font-size: 2.5rem;
  }
  .footertag {
    font-size: 0.5rem;
  }
}
